body {
	margin: 0;
	background-color: #262526;
}

main {
	color: #F2F2F2;
	margin-left: 30%;
	margin-top: 120px;
	margin-bottom: 120px;
	width: 40%;
	font-family: 'Open Sans', sans-serif;
}

div.code {
	background-color: #404040;
	color: #F2F2F2;
	padding: 10px;
	padding-left: 20px;
	font-size: 1em;
	font-family: 'Roboto Mono', monospace;
}

code {
	background-color: #404040 !important;
	color: #F2F2F2 !important;
	font-family: 'Roboto Mono', monospace !important;
	border: none !important;
	border-radius: 0 !important;
}

h2 {
	font-family: 'Roboto', sans-serif;
}